* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 17px 15px;
  opacity: 0.9;
}

nav ul li a:hover {
  color: #2081C3;
}

header {
  background: #D9D9D9;
  font-family: "Helvetica";
  font-style: normal;
  text-align: left;
  text-decoration: none;
  margin: 0 auto;
}

body {
  font-family: "Helvetica";
  font-style: normal;
  text-align: left;
  text-decoration: none;
  margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
  position: relative;
  left: 10px;
  padding-top: 20px;
  float: left;
  width: 20%;
}

.column.left {
  padding-right: 10px;
}

.column.middle {
  width: 40%;
}

.column.right {
  width: 40%;
}

.userimgsrc {
  position: relative;
  top: 40px;
  left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:1px solid #021a40;
}

.userinfo {
  padding-bottom: 10px;
  position: relative;
  top: 45px;
  text-align: center;
  border-bottom: 1px solid #021a40;
}

.spending {
  width: 400px;
  height: 400px;
  border: 1px solid #021a40;
  padding: 5px;
}

.graph {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid #021a40;
}

.subspend li {
  display: block;
}